* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border: 5px solid darkgray;
  margin: 20px;
}
header {
  border: 5px dashed rgb(35, 165, 159);
  display: flex;
  justify-content: space-around; /*zašto mi justify-content prestane raditi nakon svakom child elmentu odredim flex property na svaki child element? */
  align-items: center;
  gap: 30px;
  height: 100px;
  padding: 0 10px; /*da odmaknem child elemente od ruba pošto mi neradi justify concent*/
  margin: 0px 15px;
}

.logo {
  border: 4px solid black;
  font-size: 35px;
  /* flex-grow: 1; */
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px; /*je li bolje u ovom slučaju povećati element sa paddingom ili sa heightom?*/
}

.primaryNav {
  border: 5px solid green;
  /* flex-grow: 3; */
  flex: 3;
}

.primaryNav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
}

.primaryNav a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.search {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  /* flex-grow: 1; */ /*zašto ovdje ako stavim flex grow 1 bude mi veće od diva Logo? što nebi trebalo biti podjednako?
                      A ako nestavim ništa onda bude skoro pa podjednako..  
                      Htio bi to napraviti samo sa flexboxom bez dodavanja paddinga ili margina ili bez setanja fiksne 
                      veličine diva... 
  /* flex-shrink: 1; */ /*ovo ne igra nikakvu ulogu */
  flex: 1; /*na kraju mi najbolje igra ulogu kad raspišem samo u ovom shorthandu u postotcima ili samo brojem
             ali onda je to flex basis ako je u postotcima odnosno flex grow ako je samo broj hmm
            ugl ovako bude dobra raspodjela child elemenata u header,
             a preko flex-grow propertya nebude. Zašto?*/
  padding: 5px 0px;
}

.search label {
  /* flex-basis: 100%; */
  flex: 100%; /*dobijem istu funckionalnost jer kad u flex stavim % ona ga računa kao flex basis */
  /*a kad stavim unitless number onda računa da je to flex grow... valjda
              tako bar piše na MDN haha ljepote CSS-a */
}

.input {
  /* flex-grow: 1; */
  flex: 1;
}

.submit {
  /* flex-grow: 2; */
  flex: 2; /*slična stvar i sa ova 2 elementa, zašto bde različito sa flex-grow od samog flex propertya?*/
}

.mainFlex {
  border: 4px dashed rgb(180, 180, 34);
  display: flex;
  justify-content: space-around; /*ovo mi opet ne reagira kad sam na svaki child element stavio flex property*/
  gap: 30px;
  margin: 15px 15px;
  padding: 0px 10px; /*ova tri propertya sam stavio jednaka kao i na header da se poravnaju child elementi*/
  /*međutim vidim da nisu baš skroz jednako raspodjeljeni neznam zašto, vjerojatno zbog paddinga*/
  /*da sam stavio cijelu stranicu i jedan div pa napravio sa grid layoutom ili flexbox
      layoutom sa wrap elements mozda bi bilo bolje, ali htio sam ovako sa 2 odvojena flexboxa*/
}

.secondaryNav {
  flex: 1;
  border: 5px solid green;
  background-color: lightgray;
}

.secondaryNav > ul {
  display: flex;
  height: 100%;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.secondaryNav a {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 40px 60px;
  font-size: 20px;
}

main {
  flex: 3;
  border: 5px dashed purple;
  padding: 10px;
}

main article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 5px solid red;
}
main h1 {
  font-size: 50px;
}
main h2 {
  font-size: 30px;
}
main p {
  font-size: 20px;
}
aside {
  flex: 1;
  border: 5px solid lightgreen;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

section {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
section ul {
  background-color: white;
  padding: 13px 90px; /*zašto ako ovdje odredim padding 80% iziđe iz bordera elementa?*/
  display: flex;
  flex-direction: column;
  gap: 15px;
}

section a {
  color: black;
}

section article {
  border: 5px solid red;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 50px; /*zašto ako stavim veći padding (ovisno o veličini ekrana naravno) ljevi i desno onda mi gurne text unutra ?*/
}

footer {
  margin: 10px 20px;
  border-top: 2px dashed black;
}
footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
  color: gray;
  margin: 0px 30px;
}

#zadar {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#šibenik {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.najbolji {
  color: red;
  font-size: 50px;
}

#buttonDiv {
  text-align: center;
}

button {
  height: 100px;
  width: 200px;
  font-size: 20px;
  color: blue;
}
