* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  border: 5px solid darkgray;
  margin: 20px;
}
header {
  border: 5px dashed rgb(35, 165, 159);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin: 0px 15px;
}

.logo {
  border: 4px solid black;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 18%;
  height: 70%;
}

.primaryNav {
  border: 5px solid green;
  flex-basis: 60%;
  height: 70%;
}

.primaryNav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.primaryNav a {
  background-color: black;
  color: white;
  text-decoration: none;
  width: 15%;
  text-align: center;
  line-height: 100%;

  /*načini centriranja teksta unutar a elementa*/
  /* 1.način*/
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  /*2.način*/
  /* padding: 10px 0px; */

  /*3.način*/
  /* height: 40px;
  text-align: center;
  line-height: 40px; */
}

.search {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-basis: 18%;
  height: 70%;
}

.search label {
  /* flex-basis: 100%; */
  flex: 100%; /*dobijem istu funckionalnost jer kad u flex stavim % ona ga računa kao flex basis */
  /*a kad stavim unitless number onda računa da je to flex grow... valjda
              tako bar piše na MDN haha ljepote CSS-a */
  flex-basis: 100%; /*možda najbolje ovako stavit jer je najčitljivije*/
}

.input {
  /* flex-grow: 1; */
  flex: 1;

  /*2. način*/
  flex-basis: 65%; /*i onda na ovaj drugi element .submit stavim 35% da zajedno zauzmu 100%*/
}

.submit {
  /* flex-grow: 2; */
  flex: 2; /*slična stvar i sa ova 2 elementa, zašto bde različito sa flex-grow od samog flex propertya?*/
  flex-basis: 35%;
}

.mainFlex {
  border: 4px dashed rgb(180, 180, 34);
  display: flex;
  justify-content: space-around;
  margin: 15px 15px;
}

.secondaryNav {
  border: 5px solid green;
  background-color: lightgray;
  flex-basis: 18%;
}

.secondaryNav > ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.secondaryNav a {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 20px;
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  border: 5px dashed purple;
  padding: 10px;
  flex-basis: 60%;
}

main article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 5px solid red;
}
main h1 {
  font-size: 50px;
}
main h2 {
  font-size: 30px;
}
main p {
  font-size: 20px;
}
aside {
  flex-basis: 18%;
  border: 5px solid lightgreen;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section {
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1 {
  height: 35%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

.section1 h3 {
  flex-basis: 100%;
}
.section2 {
  height: 55%;
}
section ul {
  background-color: white;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section a {
  color: black;
}

section article {
  border: 5px solid red;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
  margin: 10px 20px;
  border-top: 2px dashed black;
}
footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-top: 20px;
}

footer a {
  text-decoration: none;
  color: gray;
  margin: 0px 30px;
}

#zadar {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

#šibenik {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.najbolji {
  color: red;
  font-size: 50px;
}

#buttonDiv {
  text-align: center;
}

button {
  height: 100px;
  width: 200px;
  font-size: 20px;
  color: blue;
}
